{% extends "base.html" %}
{% load static %}

{% block title %}
  Ваша корзина
{% endblock %}

{% block content %}
  <h1>Ваша корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукты</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена за единицу</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with choice=item.choice %}
          <tr>
            <td>
              <a href="{{ choice.get_absolute_url }}">
                <img src="{% if choice.image %}{{ choice.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ choice.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" choice.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" choice.id %}">Удалить</a></td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Итого</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} руб.</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "kitchen:choice_list" %}" class="button light">Продолжите заказы</a>
    <a href="# "  class="button">
      Проверка
    </a>
  </p>
{% endblock %}